@page
@model Rpg.Pages.BattleModel
@{
    ViewData["Title"] = "Battle";
}

@if (Model.NpcStats.HealthPoints < 1)
{
    <div class="text-center">
        <h2>Dobrá práce, porazil jsi nepřítele, nyní můžeš pokračovat dál</h2>
        <div><a asp-page="/Room" asp-route-to="@Model.Room.NextRoomID" class="btn btn-primary">Pokračovat</a></div>
    </div>
}
else
{
    <div class="text-center">
        <h2>@Model.Room.Description @Model.Result</h2>
        <div><a asp-page-handler="Attack" class="btn btn-primary">Zaútočit</a></div>
        <div><a asp-page-handler="Defense" class="btn btn-primary">Bránit se</a></div>
        <div><a asp-page-handler="Bag" class="btn btn-primary">Inventář (not implemented)</a></div>
    </div>
    <div>
        <ul>
            Tvoje statistiky
            <li>
                Vitalita: @Model.PlayerStats.HealthPoints
            </li>
            <li>
                MP: @Model.PlayerStats.ManaPoints
            </li>
            <li>
                Poškození: @Model.PlayerStats.Attack
            </li>
            <li>
                Brnění: @Model.PlayerStats.Defense
            </li>
        </ul>
    </div>
    <div>
        <ul>
            Nepřítelovi statistiky
            <li>
                Vitalita: @Model.NpcStats.HealthPoints
            </li>
            <li>
                MP: @Model.NpcStats.ManaPoints
            </li>
            <li>
                Poškození: @Model.NpcStats.Attack
            </li>
            <li>
                Brnění: @Model.NpcStats.Defense
            </li>
        </ul>
    </div>

}

