@page
@model Rpg.Pages.BattleModel
@{
    ViewData["Title"] = "Battle";
}


<div class="container">
    <div class="PlayingArea">
        <!--Zde jsou statistiky hráče-->
        <div class="player">
            <h4>@Model.PlayerStats.Name</h4>
            <ul class="stats">
                <li class="stat">Vitalita: @Model.PlayerStats.HealthPoints <span class="stat-desc">Tvé životy</span></li>
                <li class="stat">MP: @Model.PlayerStats.ManaPoints <span class="stat-desc">Tvá mana</span></li>
                <li class="stat">Poškození: @Model.PlayerStats.Attack <span class="stat-desc">Tvůj útok</span></li>
                <li class="stat">Brnění: @Model.PlayerStats.Defense <span class="stat-desc">Tvoje obrana proti poškození</span></li>
            </ul>
        </div>
        <!--Zde jsou všechny možné volby boje-->
        <div class="text-center choices">
            @if (Model.Result == null)
            {
                <h2>@Model.BattleRoom.Description</h2>
            }
            else
            {
                <h2>@Model.Result</h2>
            }
            <div><a asp-page-handler="Attack" class="btn btn-primary">Zaútočit</a></div>
            <div><a asp-page-handler="Defense" class="btn btn-primary">Bránit se</a></div>
            <button class="btn btn-primary" id="Inventory">Inventář (not implemented)</button>
        </div>
        <!--Zde jsou statistiky počítače-->
        <div class="npc">
            <h4>@Model.NpcStats.Name</h4>
            <ul class="stats">
                <li class="stat">Vitalita: @Model.NpcStats.HealthPoints <span class="stat-desc">Životy nepřítele</span></li>
                <li class="stat">MP: @Model.NpcStats.ManaPoints <span class="stat-desc">Mana nepřítele</span></li>
                <li class="stat">Poškození: @Model.NpcStats.Attack <span class="stat-desc">Útok nepřítele</span></li>
                <li class="stat">Brnění: @Model.NpcStats.Defense <span class="stat-desc">Obrana nepřítele proti tvému poškození</span></li>
            </ul>
        </div>
    </div>
    <!--Zde resime vitezstvi-->
    @if (Model.NpcStats.HealthPoints < 1)
    {
        <div class="lightbox">
            <div class="text-center win">
                <h2>Dobrá práce, porazil jsi <strong>@($"{Model.NpcStats.Name}a")</strong>, nyní můžeš pokračovat dál</h2>
                <a asp-page="/Room" asp-route-to="@Model.BattleRoom.NextRoomID" class="btn btn-primary">Pokračovat</a>
            </div>
        </div>
    }
    <!--Zde resime smrt-->
    @if (Model.PlayerStats.HealthPoints < 1)
    {
        <div class="lightbox">
            <div class="text-center lose">
                <h2>Právě jsi byl zdecimován <strong>@($"{Model.NpcStats.Name}em")</strong></h2>
                <a asp-page="/Room" asp-route-to="666" class="btn btn-primary">Pokračovat</a>
            </div>
        </div>
    }
    <!--inventar (WORK IN PROGRESS)-->
    <div class="inventory lightbox">
        <div class="inventory-content">
            @foreach (var item in Model.PlayerStats.Inventory)
            {
            <div class="item">
                <img src="./resources/@($"{item.Key}.png")"/>
                <span class="stat-desc">@item.Value.Name</span>
            </div>
            }
        </div>
        <span class="close">&times;</span>
    </div>
</div>

