@page
@model Rpg.Pages.BattleModel
@{
    ViewData["Title"] = "Battle";
}


    <div class="container">
        <div class="PlayingArea">
            <!--Zde jsou statistiky hráče-->
            <div class="player">
                <h4>@Model.Player.Name</h4>
                <ul class="stats">
                    <li class="stat">Vitalita: @Model.Player.PlayerStats.HealthPoints <span class="stat-desc">Tvé životy / Max životy</span>/ @Model.Player.PlayerStats.MaxHealthPoints</li>
                    <li class="stat">MP: @Model.Player.PlayerStats.ManaPoints <span class="stat-desc">Tvá mana / Max mana</span>/ @Model.Player.PlayerStats.MaxManaPoints</li>
                    <li class="stat">Poškození: @Model.Player.PlayerStats.Attack <span class="stat-desc">Tvůj útok (1 bod = 1 dmg)</span></li>
                    <li class="stat">Brnění: @Model.Player.PlayerStats.Defense <span class="stat-desc">Tvoje obrana proti poškození (1 bod = -1 dmg)</span></li>
                </ul>
            </div>
            <!--Zde jsou všechny možné volby boje-->
            <div class="text-center choices">
                @if (Model.Result == null) {<h2>@Model.BattleRoom.Description</h2> }
                else {<h2>@Model.Result</h2>}
            <ul>
                <li><a asp-page-handler="Fight" asp-route-choice="@Rpg.Model.BattleChoice.Attack" class="btn btn-primary">Zaútočit</a></li>
                <li><a asp-page-handler="Fight" asp-route-choice="@Rpg.Model.BattleChoice.Defend" class="btn btn-primary">Bránit se</a></li>
                <li><button class="btn btn-primary" id="Inventory">Inventář</button></li>
                <li><button class="btn btn-primary" id="Spells">Spells</button></li>                                 
            </ul>
            </div>
            <!--Zde jsou statistiky počítače-->
            <div class="npc">
                <h4>@Model.Npc.Name</h4>
                <ul class="stats">
                    <li class="stat">Vitalita: @Model.Npc.NpcStats.HealthPoints <span class="stat-desc">Životy nepřítele</span></li>
                    <li class="stat">MP:  @Model.Npc.NpcStats.ManaPoints <span class="stat-desc">Mana nepřítele</span></li>
                    <li class="stat">Poškození:  @Model.Npc.NpcStats.Attack <span class="stat-desc">Útok nepřítele</span></li>
                    <li class="stat">Brnění:  @Model.Npc.NpcStats.Defense <span class="stat-desc">Obrana nepřítele proti tvému poškození</span></li>
                </ul>   
            </div>
        </div>
        <!--Zde resime vitezstvi-->
        @if (Model.Npc.NpcStats.HealthPoints < 1)
        {
            <div class="lightbox">
                <div class="text-center win">
                    <h2>Dobrá práce, porazil jsi <strong>@($"{Model.Npc.Name}a")</strong>, nyní můžeš pokračovat dál</h2>
                    <a asp-page="/Room" asp-route-to="@Model.BattleRoom.NextRoomID" class="btn btn-primary">Pokračovat</a>
                </div>
            </div>
        }
        <!--Zde resime smrt-->
        @if (Model.Player.PlayerStats.HealthPoints < 1)
        {
            <div class="lightbox">
                <div class="text-center lose">
                    <h2>Právě jsi byl zdecimován <strong>@($"{Model.Npc.Name}em")</strong></h2>
                    <a asp-page="/Room" asp-route-to="666" class="btn btn-primary">Pokračovat</a>
                </div>
            </div>
        }
        <!--inventar (WORK IN PROGRESS)-->
        <div class="inventory lightbox">
            <div class="inventory-content">
                @foreach (var item in Model.Player.Inventory)
                {
                    @if (item.Type == Rpg.Model.ItemType.Consumable)
                    {
                        <div class="item">
                            <img src="./resources/@($"{item.Name}.png")" />
                            <span class="stat-desc">@item.Name</span>
                            <span class="hidden">@item.Description</span>

                            <a asp-page="/Battle" asp-route-item="@item.Name" asp-page-handler="Use" class="btn btn-primary hidden">Použít</a>
                            
                        </div>
                    }
                }
                </div>
            <div class="inventory-use">
                <img src="" />
                <h4></h4>
                <p></p>
                <a href=""></a>
            </div>
            <span class="close">&times;</span>         
        </div>

        <div class="spellbook lightbox">
            <div class="spellbook-content">
                @foreach (var spell in Model.Player.Spellbook)
                {
                    <div class="spell">
                        <p>@spell.Name</p>
                        <span class="hidden">@spell.Description</span>
                        <a asp-route-spell="@spell.Name" asp-page-handler="Cast" class="btn btn-primary">Cast</a>
                    </div>
                }
            </div>
            <span class="close">&times;</span>
        </div>
    </div>

