@page
@model Rpg.Pages.RoomModel
@{
    ViewData["Title"] = "Room";
}


<div class="text-center">

    <h2>@Model.Room.Description</h2>
    <ul>
        @foreach (var item in Model.Room.Crossroads)
        {
            <li><a asp-page="/Room" asp-route-to="@item.NextRoomID" class="btn btn-primary">@item.Description</a></li>
        }
    </ul>
</div>

<div>
    <ul>
        <li>
            HP: @Model.PlayerStats.HealthPoints
        </li>
        <li>
            MP: @Model.PlayerStats.ManaPoints
        </li>
        <li>
            Damage: @Model.PlayerStats.Attack
        </li>
        <li>
            Armor: @Model.PlayerStats.Defense
        </li>
    </ul>
</div>

