@page
@model Rpg.Pages.RoomModel
@{
    ViewData["Title"] = "Room";
}

    <div class="container">
        <div class="PlayingArea">
            <!--Zde jsou statistiky hráče-->
            <div class="player">
                <h4>@Model.Player.Name</h4>
                <ul class="stats">
                    <li class="stat">Vitalita: @Model.Player.PlayerStats.HealthPoints <span class="stat-desc">Tvé životy / Max životy</span>/ @Model.Player.PlayerStats.MaxHealthPoints</li>
                    <li class="stat">MP: @Model.Player.PlayerStats.ManaPoints <span class="stat-desc">Tvá mana / Max mana</span>/ @Model.Player.PlayerStats.MaxManaPoints</li>
                    <li class="stat">Poškození: @Model.Player.PlayerStats.Attack <span class="stat-desc">Tvůj útok (1 bod = 1 dmg)</span></li>
                    <li class="stat">Brnění: @Model.Player.PlayerStats.Defense <span class="stat-desc">Tvoje obrana proti poškození (1 bod = -1 dmg)</span></li>
                </ul>
            </div>
            <!--Zde jsou všechny možné volby v rozcestníku-->
            <div class="text-center choices">
                <h5>@Model.Room.Description</h5>
                <ul>
                    @if (Model.Room.RoomID == 666)
                    {
                        <li><a asp-page="/Index" class="btn btn-primary">Hrát znovu</a></li>
                    }
                    else
                    {
                        @foreach (var item in Model.Room.Crossroads)
                        {
                            if (item.Type == Rpg.Model.RoomType.Normal)
                            {
                                <li><a asp-page="/Room" asp-route-to="@item.NextRoomID" class="btn btn-primary">@item.Description</a></li>
                            }
                            if (item.Type == Rpg.Model.RoomType.Battle)
                            {
                                <li><a asp-page="/Battle" asp-route-to="@item.NextRoomID" class="btn btn-primary">@item.Description</a></li>
                            }
                            if (item.Type == Rpg.Model.RoomType.Shop)
                            {
                                <li><a asp-page="/Shop" asp-route-to="@item.NextRoomID" class="btn btn-primary">@item.Description</a></li>
                            }
                        }
                        if (Model.Room.Inventory)
                        {
                            <li><button class="btn btn-primary" id="Inventory">Inventář</button></li>
                            <li><button class="btn btn-primary" id="Spells">Spells</button></li>
                        }
                        else { }
                    }
                </ul>
            </div>
        </div>
        <!--inventar (WORK IN PROGRESS)-->
        <div class="inventory lightbox">
            <div class="inventory-content">
                @foreach (var item in Model.Player.Inventory)
                {
                    <div class="item">
                        <img src="./resources/@($"{item.Name}.png")" />
                        <span class="stat-desc">@item.Name</span>
                        <span class="hidden">@item.Description | <strong>Vlastníš: @(item.Count)x</strong></span>
                        @if (item.Type == Rpg.Model.ItemType.Weapon || item.Type == Rpg.Model.ItemType.Amulet || item.Type == Rpg.Model.ItemType.Armor)
                        {
                            <a asp-page-handler="Equip" asp-route-item="@item.Name" class="btn btn-primary hidden">Nasadit</a>
                        }
                        else
                        { <a asp-page="/Room" asp-route-item="@item.Name" asp-page-handler="Use" class="btn btn-primary hidden">Použít</a>}
                    </div>
                }
            </div>
            <div class="inventory-use">
                <img src="" />
                <h4></h4>
                <p></p>
                <a href=""></a>
            </div>
            <span class="close">&times;</span>
        </div>
        <!---Spellbook-->
        <div class="spellbook lightbox">
            <div class="spellbook-content">
                @foreach (var spell in Model.Player.Spellbook)
                {
                <div class="spell">
                    <p>@spell.Name</p>
                    <span class="hidden">@spell.Description</span>
                    @if (spell.Type == Rpg.Model.SpellType.Damage) { }
                    else
                    {<a asp-route-spell="@spell.Name" asp-page-handler="Cast" class="btn btn-primary">Cast</a>}
                </div>
                }
            </div>
            <span class="close">&times;</span>
        </div>
    </div>
