@page
@model Rpg.Pages.RoomModel
@{
    ViewData["Title"] = "Room";
}


<div class="text-center">

    <h2>@Model.Room.Description</h2>
            @if (Model.Room.Fight == true)
            {
                @foreach (var item in Model.Room.Crossroads)
                {
                    <div><a asp-page="/Battle" asp-route-to="@item.NextRoomID" class="btn btn-primary">@item.Description</a></div>
                }
            }
            @{else
            {
                @foreach (var item in Model.Room.Crossroads)
                {
                    <div><a asp-page="/Room" asp-route-to="@item.NextRoomID" class="btn btn-primary">@item.Description</a></div>
                }
            }
            }
</div>

<div>
    <ul>
        <li>
            HP: @Model.PlayerStats.HealthPoints
        </li>
        <li>
            MP: @Model.PlayerStats.ManaPoints
        </li>
        <li>
            Damage: @Model.PlayerStats.Attack
        </li>
        <li>
            Armor: @Model.PlayerStats.Defense
        </li>
    </ul>
</div>

