@page
@model Rpg.Pages.RoomModel
@{
    ViewData["Title"] = "Room";
}

    <div class="container">
        <div class="PlayingArea">
            <!--Zde jsou statistiky hráče-->
            <div class="player">
                <h4>@Model.PlayerStats.Name</h4>
                <ul class="stats">
                    <li class="stat">Vitalita: @Model.PlayerStats.HealthPoints <span class="stat-desc">Tvé životy</span></li>
                    <li class="stat">MP: @Model.PlayerStats.ManaPoints <span class="stat-desc">Tvá mana</span></li>
                    <li class="stat">Poškození: @Model.PlayerStats.Attack <span class="stat-desc">Tvůj útok</span></li>
                    <li class="stat">Brnění: @Model.PlayerStats.Defense <span class="stat-desc">Tvoje obrana proti poškození</span></li>
                </ul>
            </div>
            <!--Zde jsou všechny možné volby v rozcestníku-->
            <div class="text-center choices">
                <h2>@Model.Room.Description</h2>
                <ul>
                    @if (Model.Room.RoomID == 666)
                    {
                        <li><a asp-page="/Index" class="btn btn-primary">Hrát znovu</a></li>
                    }
                    @if (Model.Room.Fight == true)
                    {
                        @foreach (var item in Model.Room.Crossroads)
                        {
                            <li><a asp-page="/Battle" asp-route-to="@item.NextRoomID" class="btn btn-primary">@item.Description</a></li>

                        }
                    }
                    else
                    {
                        @foreach (var item in Model.Room.Crossroads)
                        {
                            <li><a asp-page="/Room" asp-route-to="@item.NextRoomID" class="btn btn-primary">@item.Description</a></li>
                        }
                    }
                <li><button class="btn btn-primary" id="Inventory">Inventář (not implemented)</button></li>
                </ul>
            </div>
        </div>
        <!--inventar (WORK IN PROGRESS)-->
        <div class="inventory lightbox">
            <div class="inventory-content">

            </div>
            <span class="close">&times;</span>
        </div>
    </div>
